<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>Promociones</title>
</head>
<body>
   
    <header>
        <div class="container">

            <img src="../assets/img/siman.webp" alt="SIMAN">


            <nav>
                <ul>
                    <li><a href="../index.html">INICIO</a></li>
                    <li><a href="./views/promotion.html">PROMOCIONES</a></li>
                    <li><a href="#footer">CONTACTO</a></li>
                </ul>
            </nav>
        </div>
    </header>

    
    <section class="promotions">

        <div class="encabezados_div">
            <h1>CALZADO DISPONIBLE EN PROMOCIÓN</h1>
        </div>

        <div class="promotions-grid">
            <div class="promotion">
                <img src="../assets/img/kikes.webp" alt="Product 1">
                <h2>Zapatos kikes - $25</h2>
                <p>Zapatos genericos con costo accesible para todo nuestros clientes, con descuento con CREDISIMAN</p>
                <a href="./zapato_1.html"><button class="button">Comprar</button></a>
            </div>
            <div class="promotion">
                <img src="../assets/img/New_Balances.webp" alt="Product 2">
                <h2>New Balances - $150</h2>
                <p>Zapatos ideales para ir al GYM comodos para caminar grandes distancia, el par ideal que te acompañará siempre.</p>
                <a href="./zapato_2.html"><button class="button">Comprar</button></a>
            </div>
            <div class="promotion">
                <img src="../assets/img/zapato_nike.webp" alt="Product 3">
                <h2>NIKE - GAMMA FORCE - $549</h2>
                <p>Zapatos ideal para coleccionista, solamente existe 500 ejemplares en el mundo. Disponible hasta agotar existencias.</p>
                <a href="./zapato_3.html"><button class="button">Comprar</button></a>
            </div>
            <div class="promotion">
                <img src="../assets/img/Nikee.webp" alt="Product 4">
                <h2>NIKE - $159</h2>
                <p>Zaṕato muy comodo casual, hecho con cuero genuino y costuras reforzadas, elegancia y comodidad en un zapato.</p>
                <a href="./zapato_4.html"><button class="button">Comprar</button></a>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 SIMAN. <br> Todos los derechos reservados.</p>
    </footer>
</body>
</html>
